@model Prototyp2.Views.osoba_typ

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Jesteś pewien że chcesz usunąc ten rekord?</h3>
<div>
    <h4>osoba_typ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróc do listy", "Index")
        </div>
    }
</div>
