@model Prototyp2.Views.osoba_typ

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>osoba_typ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.id_typ }) |
    @Html.ActionLink("Wróc do listy", "Index")
</p>
